.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logout {
  padding: 4px;
  border: none;
  background-color: #7ef482;
  cursor: pointer;
  color: rgb(107, 107, 107);
  border-radius: 4px;
}
